.wrapper-div {
  border: 1px solid red;
  width: 40%;
  margin-top: 5% !important;
  margin: auto;
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  max-width: 100%;
  max-height: 100%;
  overflow: auto;

  // @media screen and (max-width: 768px) {
  //   width: 80%;
  // }

  .app__logo-img {
    height: 1.5rem;
    width: 1.5rem;
  }
  .app__logo-text {
    text-align: center;
  }

  .app__title {
    text-align: center;
    font-size: 150%;
  }
  .app__sub-title {
    margin-top: 2%;
    text-align: center;
    font-size: 100%;
    font-weight: 200;
    color: gray;
  }
  .form-label {
    margin-bottom: -10px;
  }
  .app__button-main {
    background-color: #644ce3;
    text-transform: none;

    &:hover {
      background-color: #574c8d;
    }
  }
}
